@{
    ViewBag.Title = "nguyen el duc thanh ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv</h3>
    <h3>@ViewBag.fullname</h3>

    <address>
        k22cnt3<br />
       duc thanh <br />
        <abbr title="Phone">P:</abbr>
        0975157823
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:thanhbt901@gmail.com">thanhbt901@gmail.com</a>
    </address>
</main>